# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Vue.js specific
dist/
public/
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.log
*.tmp
*.sublime-*
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Database
*.sql
*.sqlite
*.db

# Environment variables
.env

# Logs
logs/
*.log

